In [1]:
triple = lambda x: x * 3

In [2]:
triple(8)

24

## Functions can be in a list

In [3]:
def double(x):
    return x * 2

def add_one(x):
    return x + 2

number = 1
for func in [add_one, double, add_one]:
    number = func(number)
    print(number)

3
6
8

## Nameless / Anonymous

In [4]:
number = 1
for func in [lambda x: x + 1, lambda x: x * 2, lambda x: x + 2]:
    number = func(number)
    print(number)

2
4
6

## Reduce

In [5]:
from functools import reduce

In [6]:
numbers = [1, 2, 3, 4, 5]
reduce(lambda x, y: x * y, numbers)

120

## Pandas

In [ ]:
import pandas as pd